@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    font-family: Poppins, Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #eccdf5, #c4def1);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container,
.container-transaction {
    width: 380px;
    background-color: #eee5;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

.balanse,
.income-extensive-date,
.calendar-block,
.transaction,
.gistogram-area,
.adding-transaction {
    background-color: #fff;
    border-radius: inherit;
    padding: inherit;
}

.gistogram-area {
    padding: 8px;
}

.income-extensive-date,
.calendar-block,
.gistogram-area {
    margin-top: 20px;
}

.balanse h1,
h2 {
    color: blueviolet;
}

.balanse h2 {
    font-size: 32px;
    display: inline-block;
}

.income-extensive {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.money {
    display: inline-block;
    font-size: 20px;
}

.money.plus {
    color: green;
}

.money.minus {
    color: red;
}

.svg-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.svg-icon-adding {
    fill: blueviolet;
    width: 32px;
    height: 32px;
}

.btn-prop-show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 2px solid blueviolet;
    border-radius: 50%;
    padding: 6px;
    margin-block: 3px;

    &:not(:disabled):hover {
        padding: 4px;
        cursor: pointer;
        transition: padding 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.balanse .svg-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: indigo;
}

.btn-select-date {
    display: inline-block;
    font-size: 18px;
    width: 74px;
    height: 28px;
    color: indigo;
    background-color: #ffffff;
    border-radius: 14px;
    margin-left: 6px;
    /* border: 1px solid indigo; */
    border: none;
}

.btn-select-date:hover {
    background-color: #cea6d8;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-select-date.date-selected:hover {
    background-color: #cea6d8;
    cursor: pointer;
}

.btn-select-date.date-selected {
    background-color: blueviolet;
    color: #fff;
}

.current-select-date {
    display: inline-block;
    font-size: 16px;
    color: blueviolet;
}

.nav-date {
    padding-top: 12px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-date-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-date .svg-icon {
    fill: blueviolet;
    padding-left: 4px;
}

.svg-icon.calendar-icon {
    padding: 8px 0 0 12px;
    width: 22px;
    height: 22px;
}

.svg-icon.calendar-icon:hover {
    padding: 8px 0 0 8px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: padding 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-date .svg-icon:hover {
    /* fill: indigo; */
    padding-left: 0px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: padding-left 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 400ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: height 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.show-gistogram-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed blueviolet;
    border-radius: 16px;
}

/***************************************************/

.display-none {
    display: none;
}
